<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentorfy</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% block 'head' %}{% endblock 'head' %}
</head>
<body>
    {% load static %} 
    <header class="bg-slate-900">
        <nav class="flex items-center justify-between p-4 lg:px-8" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Your Company</span>
              <img class="h-8 w-auto" src="{% static 'logo.png' %}" alt="">
            </a>
          </div>
          <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Open main menu</span>
              <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            {# Consider making these links dynamic if needed, maybe via context or another block #}
            <a href="{% url 'mentorship' %}" class="text-sm/6 font-semibold text-gray-100">Mentees</a>
            <a href="{% url 'meeting' %}" class="text-sm/6 font-semibold text-gray-100">Meetings</a>
          </div>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="text-sm/6 font-semibold text-gray-100">Logout <span aria-hidden="true">&rarr;</span></a>
            {% endif %}
          </div>
        </nav>
    </header>

    {% block 'body' %}{% endblock 'body' %}
</body>
</html>
